
.desc {
  white-space: pre-wrap;
  padding-bottom: calc(var(--wrapper-padding) * 10);
}



.progressBar {
  margin: 0 14px;
}


/* .desc {
  max-width: 82%;
} */

.bottomBar {
  text-align: left;
  /* color: var(--button_primary_background) */
}