.rubric {
  --separator_alpha: none !important;
  --like_text_tint: #770efd !important;
  --header_background: none !important;
  --action_sheet_separator: none !important;
}

.postCover {
  width: 100%;
  height: auto;
  margin-top: var(--wrapper-padding-2x);
}

.decWrapper {
  padding-left: var(--wrapper-padding-2x);
  padding-right: var(--wrapper-padding-2x);
  background-color: var(--background_content);
}

.desc {
  white-space: pre-wrap;
}

.progressBar {
  margin: 0 var(--wrapper-padding-2x);
}

.cardWrapper {
  padding: var(--wrapper-padding-2x);
}

.calendarWrapper {
  margin-top: var(--wrapper-padding-2x);
}

.calendarHeader {
  font-weight: bold;
  margin-left: var(--wrapper-padding-2x);
  margin-bottom: var(--wrapper-padding-2x);
}

.Tabs {
  border-bottom: 1px solid #f2f2f2;
}

.Tabs--default .TabsItem {
  font-size: var(--body-font-size);
  font-weight: 400;
  line-height: var(--body-font-line-height);
  max-width: 100%;
  flex-basis: 0;
  flex-grow: unset;
  position: relative;
  padding-left: var(--wrapper-padding-2x);
  padding-right: var(--wrapper-padding-2x);
}

.Tabs--default .TabsItem--selected::after {
  display: none;
}

.abonement {
  width: 144;
  color: black;
  padding: 16px;
}
