.marketItem {
  flex-shrink: 0;
  width: 140px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  margin-right: 8px;
}

.logo {
  position: absolute;
  top: calc(0px + var(--wrapper-padding) * 5);
  left: var(--wrapper-padding);
}

.cellNegative {
  --text_primary: #770efd;
}

.cellNegative svg {
  fill: #770efd;
}

.levelBubble {
  position: absolute;
  left: -3px;
  z-index: 1000;
  bottom: 48px;
}

.history .Cell__description {
  --text_secondary: black;
}

.Cell__aside {
  padding-top: 0;
}

.Cell__children {
  font-weight: 600;
}

.Cell__children .star svg {
  width: var(--wrapper-padding-2x);
  margin-bottom: -4px;
}

.star {
  font-size: calc(var(--wrapper-padding) * 3);
  display: inline-block;
  fill: white;
}

.amountContainer {
  position: absolute;
  z-index: 1000;
  bottom: var(--wrapper-padding);
  left: var(--wrapper-padding-2x);
  display: flex;
  align-items: center;
  margin: 0 0 var(--wrapper-padding-2x) 0;
}

.amountWrapper {
  margin-left: var(--wrapper-padding);
  height: calc(var(--wrapper-padding) * 9);
  font-size: var(--small-font-size);
}

.amount {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: calc(var(--big-font-size) * 1.2);
  line-height: 1;
  margin: 0 var(--wrapper-padding) 0 0;
}
.amount > span {
  position: relative;
}

.Cell__before {
  align-items: flex-start;
}

.Cell--m .Cell__in {
  align-items: flex-start;
}


