.marketItem {
  flex-shrink: 0;
  width: 140px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12;
  margin-right: 8px;
}

.logo {
  position: absolute;
  top: 37px;
  left: 10px;
}


.cellNegative {
  --text_primary: #770efd;
  
}
.cellNegative svg {
  fill: #770efd;
}

.Cell__aside, .Cell__description {
  font-size: 13px;
  font-family: "Montserrat";
}

.history .Cell__description {
  --text_secondary: black;
}

.Cell__aside {
  padding-top: 0;
}

.Cell__children {
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 16px;
}



.Cell__children .star svg {
  width: 16px;
  margin-bottom: -4px;
}


.star {
  font-size: 24px;
  display: inline-block;
  fill: white;
}

.amountContainer {
  position: absolute;
  z-index: 1000;
  bottom: 5px;
  left: 15px;
  display: flex;
  align-items: center;
  margin: 0 0 16px 2px;
}

.amountWrapper {
  margin-left: 12px;
  height: 64px;
}

.amount {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  margin: 0 4px 0 0;
}
.amount > span {
  position: relative;
}
