.marketCard {
    width: 100%;
}
.marketCard .desc{
    white-space: pre-line;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 137%;
    background-color: var(--background_content);
    padding-top: 40px;
    padding-bottom: 80px;
}

