

.cover {
  /* background-color: black; */
  --header_background: none !important;
  height: 100%;
  min-height: 154px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin-top: calc(0px - var(--panelheader_height_ios) - 21px);
  padding-top: 21px;
  position: relative;
}

.panelImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coverPhoto {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: relative;
}

.cover h1 {
  margin: 40px 0 20px 0;
  font-family: 'Montserrat';
}

.coverContainer {
  padding: 16px;
}

