.cover {
  /* background-color: black; */
  --header_background: none !important;
  height: 100%;
  /* min-height: 154px; */
  color: white;
  font-style: normal;
  padding: 0;
  margin-top: calc(0px - var(--panelheader_height_ios) - (var(--wrapper-padding) * 3));
  padding-top: calc(var(--wrapper-padding) * 3);
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.panelImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coverPhoto {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: relative;
}

.cover h1 {
  margin: calc(var(--wrapper-padding) * 5) 0 var(--wrapper-padding) 0;
}

.cover a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: var(--small-font-size);
}

.coverContainer {
  padding: 0;
}
