.rubric {
  --separator_alpha: none !important;
  --like_text_tint: #770efd !important;
  --header_background: none !important;
  --action_sheet_separator: none !important;
  
}


.rubricPost {
  white-space: pre-line;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 137%;
  
}

.postCover {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

.decWrapper {
  /* width: 100%; */
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--background_content);
}

.desc {
  font-family: "Montserrat";
  white-space: pre-wrap;
  font-weight: 400;
}




.progressBar {
  margin: 0 14px;
}

.cardWrapper {
  padding: 20px;
}

.Cell__before {
  align-items: flex-start;
}

.time {
  font-family: 'Montserrat';
    font-size: var(--body-font-size);
    color: #000;
    font-weight: normal;
    /* margin-right: 10px; */
    line-height: 16px;
    /* width: 40px; */
    padding: 12px 8px 11px 0;
 
}

.Cell__children, .Cell__description {
  font-size: var(--body-font-size)  !important;
}


.calendarWrapper {
  margin-top: 20px;
}

.calendarHeader {
  font-weight: bold;
  margin-left: 12px;
}

.Tabs {
  border-bottom: 1px solid #f2f2f2;
}

.Tabs--default .TabsItem {
    font-size: var(--body-font-size);
    font-weight: 600;
    line-height: 20px;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: unset;
    position: relative;
    padding-left: 11px;
    padding-right: 16px;
}

.Tabs--default .TabsItem--selected::after {
  display: none;
}