.marketItem {
  flex-shrink: 0;
  width: 140px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  margin-right: 8px;
}

.logo-wrapper {
  position: absolute;
  top: calc(0px + var(--wrapper-padding) * 5);
  left: var(--wrapper-padding);
  display: flex;
  align-items: flex-start;
}

.logo {
  margin-top: 2px;
}

.logo-help {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 4px;
  border-bottom: none !important;
  z-index: 1000;
}


.cellNegative {
  --text_primary: #770efd;
}

.cellNegative svg {
  fill: #770efd;
}

.levelBubble {
  position: absolute;
  left: -3px;
  z-index: 1000;
  bottom: 48px;
}

.history .Cell__description {
  --text_secondary: black;
}

.Cell__aside {
  padding-top: 0;
}

.Cell__children {
  font-weight: 600;
}

.Cell__children .star svg {
  width: var(--wrapper-padding-2x);
  margin-bottom: -4px;
}

.star {
  font-size: calc(var(--wrapper-padding) * 3);
  display: inline-block;
  fill: white;
}

.amountContainer {
  position: absolute;
  z-index: 1000;
  bottom: var(--wrapper-padding);
  left: var(--wrapper-padding-2x);
  display: flex;
  align-items: center;
  margin: 0 0 var(--wrapper-padding-2x) 0;
}

.amountWrapper {
  margin-left: var(--wrapper-padding);
  height: calc(var(--wrapper-padding) * 9);
  font-size: var(--small-font-size);
}

.amount {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: calc(var(--big-font-size) * 1.2);
  line-height: 1;
  margin: 0 var(--wrapper-padding) 0 0;
}
.amount > span {
  position: relative;
}

.Cell__before {
  align-items: flex-start;
}

.Cell--m .Cell__in {
  align-items: flex-start;
}

.roundContainer {
  position: relative;
  width: calc(var(--wrapper-padding) * 5);
}
.round {
  position: relative;
}

.round .roundCircle {
  border: 1px solid var(--color-spacegray);
  border-radius: 50%;
  cursor: pointer;
  height: calc(var(--wrapper-padding) * 3);
  left: 0;
  position: absolute;
  top: 0;
  width: calc(var(--wrapper-padding) * 3);
}

.round .roundCircle:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 12px;
}

.lesson_date {
  margin-top: var(--wrapper-padding-2x);
  font-size: 12px;
  line-height: 14px;
}

.loader {
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  animation: blinkingBackground 5s infinite;
  -webkit-animation: blinkingBackground 5s infinite;
}
@keyframes blinkingBackground{
  0%		{ background-color: #ffffff;}
  15%		{ background-color: #f0f0f0;}
  25%		{ background-color: #ededed;}
  50%		{ background-color: #e8e8e8;}
  60%		{ background-color: #ededed;}
  75%		{ background-color: #f0f0f0;}
  100%	        { background-color: #ffffff;}
}

@-webkit-keyframes blinkingBackground{
  0%		{ background-color: #ffffff;}
  15%		{ background-color: #f0f0f0;}
  25%		{ background-color: #ededed;}
  50%		{ background-color: #e8e8e8;}
  60%		{ background-color: #ededed;}
  75%		{ background-color: #f0f0f0;}
  100%	        { background-color: #ffffff;}
}