:root {
  --wrapper-padding-2x: 16px;
  --wrapper-padding: 8px;
  --text_secondary: #96a4bd;
  --header_background: none !important;
  --icon_secondary: #d5dce7;
  --button_primary_background: #e03800;
  /* --font-header: "Montserrat", sans-serif; */
  --font-ios: "Montserrat", sans-serif;
  --big-font-size: 40px;
  --big-font-line-height: calc(var(--wrapper-padding) * 4);
  --lead-font-size: 22px;
  --lead-font-line-height: calc(var(--wrapper-padding) * 3);
  --body-font-size: 16px;
  --body-font-line-height: calc(var(--wrapper-padding) * 3);
  --small-font-size: 14px;
  --small-font-line-height: calc(var(--wrapper-padding) * 2);
  --link_alternate: #e03800;
}

.header {
  --separator_alpha: none !important;
  --like_text_tint: #770efd !important;
}

body {
  font-size: var(--body-font-size);
  font-family: var(--font-ios);
  line-height: var(--body-font-line-height) !important;
}

.PanelHeader-bg {
  display: none !important;
}

.Header--level-secondary .Header__content {
  /* identical to box height */
  letter-spacing: -0.078px;

  /* Моно / Серый */
  color: var(--text_secondary);
}

.marketImage .Avatar__in img {
  width: 100% !important;
  height: 100% !important;
}

.Button {
  border: 2px solid;
  border-color: var(--button_primary_background);
  color: var(--button_primary_background);
  background-color: white;
  font-weight: bold !important;
}

.Button--ios {
  border-radius: 4px;
}

.Button--sz-l .Button__content {
  font-family: var(--font-ios);
  font-size: var(--lead-font-size);
}

.bottomBar {
  height: calc(var(--wrapper-padding) * 8);
  vertical-align: middle;
  background-color: white;
  width: 100vw;
  text-align: center;
  padding: var(--wrapper-padding) var(--wrapper-padding-2x);
}

.bottomBar .Button {
  display: inline-block;
}

.snackbar a {
  color: var(--button_primary_background);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: var(--small-font-size);
  font-weight: bold;
}

.Group {
  padding: 0px 0px 16px 0px;
}

.Panel__separator {
  display: none;
}

h1 {
  font-family: var(--font-header);
  font-size: var(--big-font-size);
  line-height: var(--big-font-line-height);
  margin: 0;
}

h2 {
  font-family: var(--font-header);
  font-size: var(--lead-font-size);
  line-height: 100%;
  margin: 0;
}

.lead {
  font-size: var(--lead-font-size);
  line-height: var(--lead-font-line-height);
}

p {
  margin-block-start: 0;
}

.Cell__children {
  font-size: var(--body-font-size);
  line-height: var(--body-font-line-height);
}
.Cell--ios .Cell__in {
  padding: var(--wrapper-padding) var(--wrapper-padding-2x)
    var(--wrapper-padding) var(--wrapper-padding-2x);
  font-variant-numeric: oldstyle-nums !important;
  font-feature-settings: "onum" !important;
  -moz-font-feature-settings: "onum=1" !important;
  -ms-font-feature-settings: "onum" !important;
  -webkit-font-feature-settings: "onum" !important;
  -o-font-feature-settings: "onum" !important;
}

.Cell--ios .Cell__main {
  padding: 0;
}

.Cell--ios.Cell--m .Cell__before-in > .Avatar {
  padding: 0 var(--wrapper-padding-2x) 0 0;
}

.Cell__description {
  color: var(--text_secondary);
  font-size: var(--body-font-size) !important;
  line-height: var(--body-font-line-height) !important;
  margin-top: 0;
  max-height: calc(var(--body-font-line-height) * 2);
  overflow: hidden;
}

a:-webkit-any-link {
  color: #e03800;
  border-bottom: 1px solid rgba(222, 58, 24, 0.2);
  text-decoration: none;
}

.PanelHeader-left-in {
  color: white;
}
