:root {
  --text_secondary: #96a4bd;
  --header_background: none !important;
  --icon_secondary: #d5dce7;
  --button_primary_background: #e03800;
  --font-ios: "Montserrat", sans-serif;
  --big-font-size: 32px;
  --lead-font-size: 20px;
  --body-font-size: 12px;
  --small-font-size: 8px;
}


.header {
  --separator_alpha: none !important;
  --like_text_tint: #770efd !important;
}



body  {
  font-size: var(--body-font-size);
  font-family: var(--font-ios);
  line-height: 146%;
}




.PanelHeader-bg {
  display: none !important;
}

.Header--level-secondary .Header__content {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: -0.078px;

  /* Моно / Серый */
  color: var(--text_secondary);
}

.Cell__description {
  color: var(--text_secondary);
  font-weight: 400;
  font-size: 13px;
}

.marketImage .Avatar__in img {
  width: 100% !important;
  height: 100% !important;
}

.bottomBar {
  height: 60px;
  vertical-align: middle;
  background-color: white;
  width: 100vw;
  text-align: center;
  padding: 8px 16px;
}

.Button {
  border: 2px solid;
  border-color: var(--button_primary_background);
  color: var(--button_primary_background);
  background-color: white;
  font-weight: bold !important;
}

.Button--ios {
  border-radius: 4px;
}

.Button--sz-l .Button__content {
  font-family: var(--font-ios);
  font-size: var(--lead-font-size);
}

.bottomBar .Button {
  display: inline-block;
}

.snackbar a {
  color: var(--button_primary_background);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  font-weight: bold;
}


.Group {
  padding: 0px 0px 16px 0px;
}

.Panel__separator {
  display: none;
}

h1 {
  font-size: 32px !important;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.lead {
  font-size: 20px;
  line-height: 126%;
}

.Cell__children {
  font-size: var(--body-font-size);
  line-height: 120%;
}